<%
  toogle = false
  if !defined?(title)
    title = "Congratulations!"
  end

  if !defined?(badge)
    if current_participant&.awaiting_toasts.present?
      badge = current_participant&.awaiting_toasts.last
      current_participant&.toggle_toasts
    end
  end

  if !defined?(url)
    url = request.original_url
  end
%>

<% if badge.present? %>
<div id="badges-popup">
  <div class="modal badges-modal" id="badges-modal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="max-width: 404px; margin-top: 150px;">
        <%= react_component("molecules/AchievementPopup/index", { 
            icon: badge.image, 
            title: title, 
            description: badge.description, 
            url: url,
            badgeTitle: badge.name, 
            socialMessage: badge.social_message
          }) %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if defined?(show_popup) && show_popup %>
  <script>
    $(document).ready(function(){
      $('#badges-modal').appendTo("body").modal('show');
    })

    $(document).ready(function () {
        setIntervalX(function () {
            refreshPartial()
        }, 3000, 1);
    });

    // calls action refreshing the partial
    function refreshPartial() {
      $.ajax({
        url: "/badges"
    })
    }

    function setIntervalX(callback, delay, repetitions) {
      var x = 0;
      var intervalID = window.setInterval(function () {

        callback();

        if (++x === repetitions) {
            window.clearInterval(intervalID);
        }
      }, delay);
    }
  </script>
<% end%>
