<div class="card-container">
<div class="blitz-head">
    <h3 class="heading">puzzles you may like</h3>
</div>

<div class="card-app">
    <div class="row">
    <div class="col-lg-3 col-md-3 img-container">
        <img class="app-img" src="/assets/img/blitz/blitz-img.svg" />
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="card-body">
        <div class="tags">
            <a href="/research/all?categories=neurips">
            <span
                class="badge badge-outline-new text-muted border ml-0"
                ><i
                class="fa fa-laptop mr-1"
                aria-hidden="true"
                ></i>
                Computer Vision</span
            >
            <span
                class="badge badge-outline-new text-muted border"
                ><i
                class="fa fa-microphone mr-1"
                aria-hidden="true"
                ></i>
                NLP</span
            >
            <span
                class="badge badge-outline-new text-muted border"
                ><i
                class="fa fa-laptop mr-1"
                aria-hidden="true"
                ></i>
                Computer Vision</span
            >
            </a>
        </div>
        <h5 class="card-title">
            <a href="#">Mask Prediction Challenge</a>
        </h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        </div>

        <div class="card-footer">
        <a href="#">
            <div>
            <span>
                <img
                src="/assets/img/blitz/bar1.svg"
                class="bar"
                alt=""
                />

                Beginner</span
            >
            <span class="ml-5"
                ><img
                src="/assets/img/blitz/star.svg"
                class="star"
                alt=""
                />

                Most Popular</span
            >
            </div>
        </a>
        </div>
    </div>
    </div>
</div>
<div class="card-app">
    <div class="row">
    <div class="col-lg-3 col-md-3 img-container">
        <img class="app-img" src="/assets/img/contribution-1.png" />
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="card-body">
        <div class="tags">
            <a href="/research/all?categories=neurips">
            <span
                class="badge badge-outline-new text-muted border ml-0"
                ><i
                class="fa fa-laptop mr-1"
                aria-hidden="true"
                ></i>
                Computer Vision</span
            >
            <span
                class="badge badge-outline-new text-muted border"
                ><i
                class="fa fa-microphone mr-1"
                aria-hidden="true"
                ></i>
                NLP</span
            >
            <span
                class="badge badge-outline-new text-muted border"
                ><i
                class="fa fa-laptop mr-1"
                aria-hidden="true"
                ></i>
                Computer Vision</span
            >
            </a>
        </div>
        <h5 class="card-title">
            <a href="#">Mask Prediction Challenge</a>
        </h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        </div>

        <div class="card-footer">
        <a href="#">
            <div>
            <span>
                <img
                src="/assets/img/blitz/bar3.svg"
                class="bar"
                alt=""
                />

                Beginner</span
            >
            <span class="ml-5"
                ><img
                src="/assets/img/blitz/star.svg"
                class="star"
                alt=""
                />

                Most Popular</span
            >
            </div>
        </a>
        </div>
    </div>
    </div>
</div>
</div>