
  <div class="row webapp">
  <div class="col-web-apps">
    <div class="card-app">
      <div class="card-body">
        <img class="app-img" src="/assets/img/blitz/webapp1.svg" />
        <h5 class="card-title">
          <a href="#"
            >Spotify <> crowdAI : How likely are you to skip a
            particular song?</a
          >
        </h5>
        <p class="card-text">Challenge Name</p>
      </div>

      <div class="card-footer">
        <a href="#">
          <div class="position-avatar">
            <img
              class="avatar"
              src="/assets/img/user-avatar-default.svg"
            />
            <span>By spMohanty</span>
          </div>
          <div class="position">
            <span class="mr-2"
              ><i class="fa fa-eye mr-1" aria-hidden="true"></i>
              23</span
            >
            <span
              ><i class="fa fa-heart-o mr-1" aria-hidden="true"></i>
              23</span
            >
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /blog post -->

  <!-- blog post -->
  <div class="col-web-apps">
    <div class="card-app">
      <div class="card-body">
        <img class="app-img" src="/assets/img/blitz/webapp1.svg" />
        <h5 class="card-title">
          <a href="#">CrowdAI for ML classes</a>
        </h5>
        <p class="card-text">Challenge Name</p>
      </div>

      <div class="card-footer">
        <a href="#">
          <div class="position-avatar">
            <img
              class="avatar"
              src="/assets/img/user-avatar-default.svg"
            />
            <span>By spMohanty</span>
          </div>
          <div class="position">
            <span class="mr-2"
              ><i class="fa fa-eye mr-1" aria-hidden="true"></i>
              23</span
            >
            <span
              ><i class="fa fa-heart-o mr-1" aria-hidden="true"></i>
              23</span
            >
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /blog post -->

  <!-- blog post -->
  <div class="col-web-apps">
    <div class="card-app">
      <div class="card-body">
        <h5 class="card-title">
          <img class="app-img" src="/assets/img/blitz/webapp1.svg" />
          <a href="#">NIPS, Minecraft, and VizDoom</a>
        </h5>
        <p class="card-text">Challenge Name</p>
      </div>

      <div class="card-footer">
        <a href="#">
          <div class="position-avatar">
            <img
              class="avatar"
              src="/assets/img/user-avatar-default.svg"
            />
            <span>By spMohanty</span>
          </div>
          <div class="position">
            <span class="mr-2"
              ><i class="fa fa-eye mr-1" aria-hidden="true"></i>
              23</span
            >
            <span
              ><i class="fa fa-heart-o mr-1" aria-hidden="true"></i>
              23</span
            >
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /blog post -->

  <!-- blog post -->
  <div class="col-web-apps">
    <div class="card-app">
      <div class="card-body">
        <h5 class="card-title">
          <img class="app-img" src="/assets/img/blitz/webapp1.svg" />
          <a href="#">NIPS, Minecraft, and VizDoom</a>
        </h5>
        <p class="card-text">Challenge Name</p>
      </div>

      <div class="card-footer">
        <a href="#">
          <div class="position-avatar">
            <img
              class="avatar"
              src="/assets/img/user-avatar-default.svg"
            />
            <span>By spMohanty</span>
          </div>
          <div class="position">
            <span class="mr-2"
              ><i class="fa fa-eye mr-1" aria-hidden="true"></i>
              23</span
            >
            <span
              ><i class="fa fa-heart-o mr-1" aria-hidden="true"></i>
              23</span
            >
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /blog post -->
</div>